.footer {

        background: #748d92; 
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid black;
        border-radius: 5px;

}